<!DOCTYPE html>
{% load account %}
{% load staticfiles %}

<html>
    <head>
	<style type="text/css"> </style>
		<meta charset ="UTF-8">
        <!-- load bootstrap's and our own stylesheets -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/3.3.2/css/bootstrap-combined.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.css" />
        <link rel="stylesheet" type="text/css" href="{% static "css/stylesheet.css" %}" /> <!-- our css -->
        <!-- empty base title -->
        <title>RMB - {% block title %}{% endblock %}</title>
    </head>

    <body>
    <!-- a bootstrap navigation bar -->
     <nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="">RMB</a>
			</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			
			<ul class="nav navbar-nav navbar-right">
                <!-- if user is logged in -->
				{% if user.is_authenticated %}
                            <!-- and if user is logged in with a social application then create dropdown for social applications -->
							 {% if request.user.first_name or request.user.last_name %}
								<li class="divider-vertical"></li> 
								<img src="{{ request.user.profile.profile_image_url }}"/> <!-- not working returns picture from facebook as thumbnail-->
								<li class="dropdown">
									<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome Back, {{ request.user.first_name }} {{ request.user.last_name }} <span class="glyphicon glyphicon-user pull-right"></span></a>
										<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'upload_images' %}"> My Account <span class="fa fa-cog pull-right"></span></a></li>
											<li class="divider"></li>
											<li><a href="/help/support"> Contact Us <span class="fa fa-envelope pull-right"></span></a></li>
											<li class="divider"></li>
											<li><a href="/accounts/logout"> Logout <span class="fa fa-power-off pull-right"></span></a></li>
										</ul>
								</li>
								<li class="divider-vertical"></li>
							<!-- else user is logged in with registered accounts create the dropdown for them -->
							{% else %}
								<li class="dropdown">
										<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome Back, {{ request.user.username }} <span class="glyphicon glyphicon-user pull-right"></span></a>
											<ul class="dropdown-menu" role="menu">
												<li><a href="{% url 'upload_images' %}"> My Account <span class="fa fa-cog pull-right"></span></a></li>
												<li class="divider"></li>
												<li><a href="/help/support"> Contact Us <span class="fa fa-envelope pull-right"></span></a></li>
												<li class="divider"></li>
												<li><a href="/accounts/logout"> Logout <span class="fa fa-power-off pull-right"></span></a></li>
											</ul>
									</li>
									<li class="divider-vertical"></li> 
							{% endif %}
                        <!-- else user is not logged in , show him the registration modal -->
						{% else %}
							<li><a href="#myModal" data-toggle="modal" data-target="#myModal">Register</a></li>
							<!-- Modal that includes our registration form -->
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog modal-vertical-centered">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Register with Rate My Beard <small>It's free!</small></h4>
									  </div>
									  <div class="modal-body">
											<div class="panel-body">
											<form method="post" action="{% url "account_signup" %}">
											{% csrf_token %}
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="text" name="username" id="id_username" class="form-control input-sm" placeholder="User Name">
														</div>
													</div>
												</div>
												<div class="form-group">
													<input type="email" name="email" id="id_email" class="form-control input-sm" placeholder="Email Address">
												</div>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="password" name="password1" id="id_password1" class="form-control input-sm" placeholder="Password">
														</div>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<div class="form-group">
															<input type="password" name="password2" id="id_password2" class="form-control input-sm" placeholder="Confirm Password">
														</div>
													</div>
												</div>
												
												<input type="submit" value="Register"  id="signup" class="btn btn-info btn-block">
											</form>
										</div>
									  </div>
									</div><!-- /.modal-content -->
								  </div><!-- /.modal-dialog -->
								</div><!-- /.modal -->
                            <!-- creating our dropdown menu form for login-->
							<li class="divider-vertical"></li> 
							<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign In<span class="caret"></span></a>
							<div class="dropdown-menu" role= "menu" style="padding:17px">
								<form method="post" action="{% url "account_login" %}">
								 <h3>Please Log In</h3>
								<form id="login" method="post">
								{% csrf_token %}
								<input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="login" size="30">
								<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password" size="30">
								<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
									<label class="string optional" for="user_remember_me"> Remember me</label>
									<input class="btn btn-primary btn-block" type="Submit"></input>
									<li class="divider"></li>
									<a class="btn btn-block btn-social btn-facebook" href="/accounts/facebook/login"> <i class="fa fa-facebook"></i> Login with Facebook</a>
									<a class="btn btn-block btn-social btn-google-plus" href="/accounts/google/login"><i class="fa fa-google-plus"></i> Login with google+</a>
								</form>
							</div>
							</li>
						{%endif%}
				</ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
        <div>
		<!-- Button trigger modal -->
		    <!-- main block -->
            {% block body_block %} {% endblock %}
        </div>
        <!-- bootstrap scripts for jquery and our own ajax moved at end for faster loading -->
    	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
		<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{% static "js/rmb-ajax.js" %}"></script>

    </body>
</html>